ul.ul-products {
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px 1px $primary-color;
    margin-top: 10px;
    overflow: auto;
    height: 100%;
    max-height: 80vh;

    li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}

input[name='search'] {
    border-radius: 5px;
    margin-right: 10px;
    height: 25px;
    width: 300px;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px rgba($color: #000000, $alpha: 0.4);
}

div.product-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}